body{
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(tlo.jpg);
    background-size: 100%;
   	background-repeat: no-repeat;
  	background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

ul{   
float: right;
list-style-type: none;
margin-top: 20px;
margin-right: 5px;
position:relative; right:60%;
}

ul li{    
margin:20px;
}

ul li a{          
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 2px solid #fff;
}

ul li a:hover{     
background-color: #fff;
color: #000;
}

ul li.active a{
background-color: #fff;
color: #000;
}


.main{    /* szerokosć glownej strony calej ktora moze byc ogarniania */
margin-left:12%;
margin-right:12%;
margin-top:1%;
margin-bottom:1%;
position:fixed;
}

/*========TRESC========*/

.tresc{
	background-color: #fff;
	width:50%;
	height:auto;
	margin:10px;
	position:absolute; left:25%; top:15%;
	border:10px solid #a7e28e;
	border-style:ridge;
}

.menu{
	font-size: 50px;
	color:white;
}

.tekst{
	padding:20px;
}

h2{
	text-align:center;
}

.stop{
clear:both;
}

.zdj1{
	border:5px solid #000;
	width:20%;
	height:20%;
	margin-right:10px;
	float:left;
}

.zdj2{
	border:5px solid #000;
	width:30%;
	height:30%;
	margin-left:10px;
	float:right;
}

