body{
background-color: #CEC1E8 ;
}
table{
  float: center;
  position: absolute;
  top: 22%;
  left:25%;
}
table.tabela {
  font-family: "Arial Black", sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 50%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;

}
table.tabela td, table.tabela th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.tabela tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.tabela tr:nth-child(even) {
  background: #888888;
}
table.tabela thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.tabela thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.tabela thead th:first-child {
  border-left: none;
}

h2{
  text-align: center;
  font-size:35px;
}

a{
  text-decoration: none;
  color:black;
  font-style:bold;
}
